ion-modal#daily-modal {
    --width: fit-content;
    --min-width: 250px;
    --height: fit-content;
    --border-radius: 16px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  }

  ion-modal#daily-modal h1 {
    margin: 20px 20px 10px 20px;
  }

  ion-modal#daily-modal ion-icon {
    margin-right: 6px;

    width: 48px;
    height: 48px;

    padding: 4px 0;

    color: #aaaaaa;
  }

  ion-modal#daily-modal .wrapper {
    margin-bottom: 10px;
  }

  .daily-wrapper{
    background-color: #fefefe;
    padding:  16px;
  }