<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-thumbnail slot="start" class="ion-margin-medium ion-padding-medium">
      <img alt="Ranking" src="assets/icon/champion.png" />
    </ion-thumbnail>
    <p class="font-weight-500">
      <ion-text>0 Points</ion-text>
      <br />
      <ion-text color="danger">No Rank</ion-text>
    </p>
    <ion-thumbnail
      class="ion-margin-vertical-medium ion-margin-end-medium"
      slot="end"
    >
      <ion-icon
        class="ion-padding-medium border-radius-12"
        size="medium"
        name="flame-outline"
        color="warning"
      ></ion-icon>
    </ion-thumbnail>
    <ion-thumbnail
      class="ion-margin-vertical-medium ion-margin-end-medium"
      slot="end"
    >
      <ion-icon
        class="ion-padding-medium border-radius-12 font-size-medium"
        size="medium"
        name="calendar-outline"
        color="warning"
      ></ion-icon>
    </ion-thumbnail>
    <!-- <ion-title> -->

    <!-- </ion-title> -->
  </ion-toolbar>
</ion-header>
