.header-md::after {
    display: none;
}

.overview-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50%), 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50%), 0 100%);
    background-image: -webkit-gradient(linear, left top, right bottom, from(#980617), to(#D2001A));
    background-image: linear-gradient(to right bottom, #980617, #D2001A);
    opacity: 0.85;
}

ion-buttons {
    ion-button {
        background: #fff;
        border-radius: 25px;
    }
}

ion-back-button {
    color: var(--ion-color-dark);
}

ion-toolbar ion-button {
    --overflow: visible;

    ion-badge {
        position: absolute;
        opacity: 0.9;
        top: 0.2rem;
        right: -0.5rem;
        font-size: 0.6rem;
        --padding-start: 5px;
        --padding-end: 5px;
    }

    &~ion-icon {
        //       margin-right: 2rem;
    }
}

ion-toolbar.no-border {
    --border-width: 0 !important;
    --background: var(--ion-background-color, #fff);
}

.header-overlay {
    position: absolute;
    width: 100%;
    height: 300px;
    background-image: -webkit-gradient(linear, bottom, top, from(#D2001A), to(#fff));
    background-image: linear-gradient(to bottom, #D2001A, #fff, #fff);
    opacity: 0.85;
    z-index: -2;
}

ion-segment-button::before {
    border: none !important;
}

ion-segment-button {
    --indicator-box-shadow: transparent !important;
    --background-checked: #e7294c1a;
    --indicator-color: transparent;
    border-radius: 50px;
    min-width: auto !important;

}

.segment-button-checked {
    color: var(--ion-color-primary);
}

.close-button {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 2;
}

ion-radio {
    --border-radius: 4px;
    --inner-border-radius: 20px;
    background: transparent;
    --color: #ddd;
    --color-checked: var(--ion-color-primary);
}

ion-radio.ios {
    width: 20px;
    height: 20px;

    border: 2px solid #ddd;
    border-radius: 20px;
}

.radio-checked.ios {
    border-color: var(--ion-color-primary);
}

ion-checkbox {
    --border-radius: 4px;
    --inner-border-radius: 20px;
    --border-width: 2px;
    --border-style: solid;
    --border-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.23);
    --background: transparent;
    --background-checked: transparent;
    --checkmark-color: var(--ion-color-primary);
    --checkmark-width: 4px;
    --size: 16px;
    width: var(--size);
    height: var(--size);
}

.break-line {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #eeeeee;
    line-height: 0.1em;
    margin: 20px 0 20px;
    color: #8e8d8d;
    font-weight: 600;
    font-size: 14px;
}

.break-line span {
    background: #fff;
    padding: 0 10px;
}

.product-image {
    height: 90px;
    width: 120px;
    object-fit: cover;
}

.item-quantity {
    width: 35px;
    display: inline-block;
    vertical-align: sub;
    text-align: center;
}

body.scanner-active {
    --background: transparent;
    --ion-background-color: transparent;
}

ion-header{
    box-shadow: none !important;
}
ion-header ion-icon{
    background-color: #37324f;
}
.button-gradient-1{
    --color:white;
    --background:linear-gradient(to bottom,#f4de9e 0%, #f3c12a 50%, #ff6a00  100%) !important;
}.button-gradient-2{
    --color:white;
    --background:linear-gradient(to bottom,#12D8FA 0%, #1FA2FF 50%, #0053f9  100%) !important;
}.button-gradient-3{
    --color:white;
    --background:linear-gradient(to bottom,#e494ff 0%, #c012fa 50%, #7f00a9  100%) !important;
}.button-gradient-4{
    --color:white;
    --background:linear-gradient(to bottom,#8bf99b 0%, #45ea5e 50%, #00bb1c  100%) !important;
}

.button-circle{
    width: 30px;height: 30px;
}