html,
body {}

.font-weight-300 {
    font-weight: 300 !important;
}

.font-weight-400 {
    font-weight: 400 !important;
}

.font-weight-500 {
    font-weight: 500 !important;
}

.font-weight-600 {
    font-weight: 600 !important;
}

.font-weight-700 {
    font-weight: 700 !important;
}

.font-weight-900 {
    font-weight: 900 !important;
}

.font-size-xs {
    font-size: 12px !important;
    line-height: 14px !important;
}

.font-size-small {
    font-size: 14px !important;
    line-height: 16px !important;
}

.font-size-medium {
    font-size: 18px !important;
    line-height: 21px !important;
}

.font-size-large {
    font-size: 20px !important;
    line-height: 30px !important;
}

.font-size-xl {
    font-size: 22px !important;
    line-height: 32px !important;
}

.font-size-xxl {
    font-size: 24px !important;
    line-height: 34px !important;
}

.font-size-4xl {
    font-size: 28px !important;
    line-height: 38px !important;
}

.font-size-5xl {
    font-size: 34px !important;
    line-height: 40px !important;
}


.text-red {
    color: var(--ion-color-red) !important;
}

.text-grey {
    color: #696969;
}

.text-primary {
    color: var(--ion-color-primary) !important;
}

.text-secondary {
    color: var(--ion-color-secondary) !important;
}

.text-dark {
    color: #222428 !important;
}

.text-medium {
    color: var(--ion-color-medium) !important;
}

.text-light {
    color: #fff !important;
}

.text-italic {
    font-style: italic;
}

p {
    margin: 0;
    padding: 0;
}