.ion-border-radius {
    --border-radius: 10
}

.ion-block {
    display: block;
}

.ion-flex {
    display: flex;
}

.ion-flex-center {
    flex-direction: column;
    justify-content: center;
}

.ion-full-height {
    height: 100%;
}

.ion-full-width {
    width: 100%;
}

.height-50 {
    height: 50%;
}


.ion-no-border {
    border: none;
    --border-width: 0 !important;
}

.width-full {
    width: 100%;
}

.width-fit-content {
    width: fit-content;
}

.width-25 {
    width: 25%;
}

.width-33 {
    width: 33.33%;
}

.width-50 {
    width: 50%;
}

.width-75 {
    width: 75%;
}

.width-100 {
    width: 100%;
}

.margin-auto {
    margin: auto;
}

.border-round {
    border: 1px solid #a6a6a6;
    border-radius: 6px;
}

.border-round input {
    padding: 10px !important;
}

.shape-round {
    border-radius: 50%;
}

.vertical-middle {
    vertical-align: middle !important;
}

.vertical-text-bottom {
    vertical-align: text-bottom !important;
}

.absolute-title {
    position: absolute;
    width: calc(100vw - 32px);
}

.display-flex {
    display: flex;
}

.display-inline-flex {
    display: inline-flex;
}

.display-inline-block {
    display: inline-block;
}

.float-right {
    float: right;
}

.align-items-center {
    align-items: center;
}

.justify-content {
    justify-content: space-between;
}

.float-right-icon {
    position: absolute;
    right: 16px;
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative !important;
}

.background-grey {
    background: #f5f6f8 !important;
    --background: #f5f6f8 !important;
}

.background-white {
    background: #FFFFFF !important;
    --background: #FFFFFF !important;
}

.background-light {
    background: #211b50 !important;
    --background: #211b50 !important;
}
.background-primary {
    background: var(--ion-color-primary);
}

.border {
    border: 1px solid #dfe0e3;
}

.border-grey {
    border: 2px solid #f5f6f8;
}

.border-radius-16 {
    border-radius: 16px;
    --border-radius: 16px !important;

}

.border-radius-12 {
    border-radius: 12px;
}

.border-radius-8 {
    border-radius: 8px !important;
    --border-radius: 8px !important;
    overflow: hidden;
}

.icon-small {
    height: 20px !important;
    width: 20px !important;
}

.icon-medium {
    height: 30px !important;
    width: 30px !important;
}

.icon-large {
    height: 80px !important;
    width: 80px !important;
}

.icon-xl {
    height: 120px !important;
    width: 120px !important;
}

.center {
    margin: auto;
    margin-top: 50%;
    transform: translateY(-50%);
}

.background-transparent {
    background: transparent !important;
    --background: transparent !important;
    --ion-background-color: transparent !important;
}

.border-bottom-grey {
    border-bottom: 2px solid #f5f6f8 !important;
    border-radius: 0 !important;
}

.box-shadow-light {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
}

.box-shadow {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

.border-bottom-list:not(:last-child) {
    border-bottom: 1px solid #efefef;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.border-top {
    border-top: 2px solid #efefef;
    --border-top: 2px solid #efefef;

}

.break-lines {
    white-space: break-spaces;
}

.border-top-radius-12 {
    border-radius: 12px;
}

.max-width-500 {
    max-width: 500px;
}

.circle-border-grey {
    border: 10px solid #f5f6f8;
    box-sizing: content-box;
    border-radius: 50%;
}

.circle-border-white {
    border: 2px solid #ffffff;
    box-sizing: content-box;
    border-radius: 50%;
}

.absolute-bottom-right {
    position: absolute;
    right: 0;
    bottom: 0;
}

.absolute-bottom-90 {
    position: absolute;
    right: 0;
    bottom: 90px;
}

.absolute-bottom-right {
    position: absolute;
    right: 0;
    bottom: 0;
}

.absolute-top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.half-width-picture {
    margin-top: 16px;
    background-color: #f5f6f8;
    height: 100px;
    width: calc(50% - 10px);
    border-radius: 12px;
    display: inline-block;
}

.display-flex {
    display: flex;
}

.display-none {
    display: none;
}


.display-webkit-box {
    display: -webkit-box;
}

.height-30-vw {
    height: calc(30vw);
}

.overflow-hidden {
    overflow: hidden;
}

.object-cover {
    object-fit: cover;
}